@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
}

li {
  display: block;
}
.underline-hover {
  display: inline-block; /* Make the element only as wide as the text */
  position: relative; /* Required for the ::after element positioning */
  margin-bottom: 10px;
  width: 100%;
}

.underline-hover::after {
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: -2px;
  width: 0;
  background: white;
  transition: width 0.2s;
}

.underline-hover:hover::after {
  width: 75%;
}
